html {
  background: beige;
}
body {
  background: aliceblue;
  max-width: 420px;
  text-align: center;
  margin: 50px auto;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#todo-list {
  list-style: none;
}

#todo-list li {
  margin-bottom: 7px;
  cursor: pointer;
}

li.todo-done {
  text-decoration: line-through;
  color: gray;
}

.display-things {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1.5rem;
}
#header-display {
  font-size: x-large;
}

.done-button,
.delete-button,
.update-button {
  height: 30px;
  width: 30%;
  margin: 5px;

  box-shadow: 1px 1px 5px 0px gray;
  border-radius: 5px;
  border: solid 1px darkgray;
  cursor: pointer;
}

.display-todo {
  background-color: aliceblue;
  overflow: scroll;
  height: 550px;
  margin-top: 20px;
}

.todoDiv {
  border: 0.5px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px gray;
  padding-bottom: 15px;
}

h4 {
  margin-top: 30px;
}

/* .done {
  background-color: green;
  color: white;

}
#updateModal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 400px;
  height: 500px;
  background-color: aquamarine;
  margin: 50px auto;
}
.modal-content {
  display: block;
  justify-content: center;

  margin: 20px 10px;
}
.modal-content input textarea {
  margin: auto 0;
}
textarea {
  resize: none;
  width: 200px;
  margin: 5px 50px;
  height: 100px;
}

} */

.done-checkbox {
  height: 45px;
  width: 45px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px gray;
  
}

